# ==========================
# DATABASE
# ==========================
DB_USERNAME=root
DB_PASSWORD=root

# ==========================
# JWT
# ==========================
JWT_SECRET=FinGuardEnterpriseSecretKeyForDevelopment123456

# ==========================
# MAIL
# ==========================
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# ==========================
# KAFKA
# ==========================
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# ==========================
# EUREKA
# ==========================
EUREKA_URL=http://eureka-server:8761/eureka

# ==========================
# DATABASE URLS
# ==========================
AUTH_DB_URL=jdbc:mysql://mysql:3306/finguard_auth
USER_DB_URL=jdbc:mysql://mysql:3306/finguard_user
TRANSACTION_DB_URL=jdbc:mysql://mysql:3306/finguard_transaction
LOAN_DB_URL=jdbc:mysql://mysql:3306/finguard_loan